@font-face {
    font-family: 'BentonSans';
    src: url('BentonSans-Book.woff2') format('woff2'),
        url('BentonSans-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

